body{
    background-color: ghostwhite;
    font-weight: bold;
}
.container{
    background-color: rgb(78, 78, 78);
    color: white;
}
header{
    text-align: center;
    margin-bottom: 50px;
}
nav{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 35px;
}
nav > a{
    flex-direction: row;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px white solid;
    font-size: 20px;
}
nav > a:hover{
    background-color: gray;
    color: black;
    border-radius: 10%;
}
p{
    font-size: 20px;
}
h2{
    font-size: 40px;
}
h1{
    font-size: 60px;
}