body{
    background-color: ghostwhite;
}
.container{
    width:90%;
    height: 100%;
    background-color: grey;
    color: white;
}
header{
    text-align: center;
}
nav{
    text-align: center;
}
nav > a{
    flex-direction: row;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
